---
import { Icon } from "astro-icon/components";

interface Props {
  content: {
    greeting: string;
    name: string;
    tagline: string;
    description: string;
    cta: string;
  };
}
const { content } = Astro.props;
---

<section
  id="hero"
  class="container mx-auto relative min-h-screen flex items-center justify-center py-20 px-4 sm:px-6 lg:px-8"
>
  <div
    class="w-full max-w-6xl flex flex-col-reverse items-center gap-4 lg:grid lg:grid-cols-[2fr_1fr]"
  >
    <div class="text-center lg:text-left">
      <p class="hero-item text-lg font-mono text-accent mb-2">
        {content.greeting}
      </p>
      <h1
        class="hero-item text-4xl sm:text-6xl md:text-7xl font-bold text-brand-light tracking-tighter"
      >
        {content.name}
      </h1>

      <p
        class="hero-item text-lg text-brand-light/80 max-w-xl mt-2 mx-auto lg:mx-0"
      >
        {content.description}
      </p>
      <a
        href="#projects"
        class="hero-item inline-block mt-4 p-4 border border-accent text-accent font-mono text-lg rounded hover:bg-accent-darker/20 transition-colors duration-300"
      >
        {content.cta}
      </a>
    </div>

    <div class="hero-item flex justify-center items-center">
      <picture
        class="relative w-[200px] lg:w-[300px] xl:w-[350px] aspect-square"
      >
        <img
          id="portrait"
          src="/images/me.webp"
          alt="Foto de [Tu Nombre]"
          class="w-full h-full object-cover border-4 border-accent/50"
        />
      </picture>
    </div>
  </div>
</section>

<style>
  #portrait {
    animation: 10s blobShape infinite ease-in-out;
  }

  .hero-item {
    opacity: 0;
    transform: translateY(20px);
  }

  @keyframes blobShape {
    0%,
    100% {
      border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
    34% {
      border-radius: 80% 50% 60% 40% / 30% 70% 60% 60%;
    }
    67% {
      border-radius: 50% 70% 50% 60% / 40% 50% 50% 50%;
    }
  }
</style>

<script>
  import { gsap } from "gsap";

  function animateHero() {
    const heroItems = gsap.utils.toArray(".hero-item");

    gsap.to(heroItems, {
      opacity: 1,
      y: 0,
      duration: 0.8,
      ease: "power3.out",
      stagger: 0.2,
      delay: 0.5,
    });
  }

  document.addEventListener("astro:page-load", animateHero);
</script>
