---
interface Props {
  content: {
    title: string;
    subtitle: string;
    cta: string;
    cv: string;
  };
}
const { content } = Astro.props;
---

<section
  id="hero"
  class="relative h-screen flex items-center justify-center text-center px-4"
>
  <div class="absolute inset-0 bg-brand-gradient opacity-30 -z-10"></div>

  <div class="max-w-10xl">
    <h1
      id="hero-title"
      class="text-4xl sm:text-6xl md:text-7xl font-bold tracking-tighter text-white opacity-0"
    >
      {content.title}
    </h1>
    <p
      id="hero-subtitle"
      class="mt-4 text-lg sm:text-xl text-brand-light/80 max-w-2xl mx-auto opacity-0"
    >
      {content.subtitle}
    </p>
    <div id="hero-cta-wrapper" class="mt-8 opacity-0 flex justify-center gap-2">
      <a
        href="#projects"
        class="inline-block px-8 py-3 border-2 border-accent bg-accent text-white font-semibold rounded-full hover:bg-accent-darker transition-colors duration-300"
      >
        {content.cta}
      </a>

      <a
        href="/"
        class="inline-block px-8 py-3 border-2 border-accent hover:bg-accent-darker text-accent-darker hover:text-white font-semibold rounded-full transition-colors duration-300"
      >
        {content.cv}
      </a>
    </div>
  </div>

  <div
    id="scroll-indicator"
    class="absolute bottom-10 left-1/2 -translate-x-1/2 opacity-0"
  >
    <div
      class="w-6 h-10 border-2 border-white/50 rounded-full flex justify-center items-start p-1"
    >
      <div class="w-1 h-2 bg-white rounded-full animate-bounce"></div>
    </div>
  </div>
</section>

<script>
  import { gsap } from "gsap";

  function animateHero() {
    const tl = gsap.timeline({
      defaults: {
        duration: 0.8,
        ease: "power3.out",
      },
    });

    tl.to("#hero-title", {
      opacity: 1,
      y: -20,
    });

    tl.to(
      "#hero-subtitle",
      {
        opacity: 1,
        y: -15,
      },
      "-=0.6"
    );

    tl.to(
      "#hero-cta-wrapper",
      {
        opacity: 1,
        y: -10,
      },
      "-=0.6"
    );

    tl.to(
      "#scroll-indicator",
      {
        opacity: 1,
        duration: 1,
      },
      "+=0.2"
    );
  }

  document.addEventListener("DOMContentLoaded", animateHero);
</script>
